[Desktop Entry]
Name=Prism
X-KDE-PluginInfo-Author=vsnrain
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=vsnrain@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=Attribution-ShareAlike 4.0 International
X-KDE-PluginInfo-Name=Prism
X-KDE-PluginInfo-Version=1.0
